@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <hr />
    <p>Más información sobre <a href="http://saludcapital.gov.co/Paginas2/Inicio.aspx"> Secretaria distrital de salud</a>.</p>
</div>
